<!DOCTYPE html>
<html>
  <head>
    <title>Layout</title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Default CSS -->
    <link rel="stylesheet" href="/build/assets/styles/app.css">

    {% block css %}
    {% endblock %}
  </head>
  <body>

    <div id="app">
    From Layout
      <div class="border border-gray-200 m-4 p-5">
          {% block body %}{% endblock %}
      </div>
    </div>

    {% block js %}
    {% endblock %}
  </body>
</html>