{%- from 'macros/validationMessage.njk' import validationMessage as validationMessage with context -%}
{%- from 'macros/input-text.njk' import textInput as textInput with context -%}
{%- from 'macros/input-text-raw.njk' import textInputRaw as textInputRaw with context -%}
{%- from 'macros/input-textarea.njk' import textArea as textArea with context -%}
{%- from 'macros/input-textarea-raw.njk' import textAreaRaw as textAreaRaw with context -%}
{%- from 'macros/radios.njk' import radioButtons as radioButtons with context -%}
{%- from 'macros/radios-raw.njk' import radioButtonsRaw as radioButtonsRaw with context -%}
{%- from 'macros/checkboxes.njk' import checkBoxes as checkBoxes with context -%}
{%- from 'macros/buttons.njk' import formButtons as formButtons with context -%}
{%- from 'macros/input-file.njk' import fileInput as fileInput with context -%}

<!-- custom -->
{%- from 'macros/raw-checkboxes.njk' import rawCheckBoxes as rawCheckBoxes with context -%}
{%- from 'macros/patientName.njk' import patientName as patientName with context -%}
{%- from 'macros/backButton.njk' import backButton as backButton with context -%}
{%- from 'macros/date-input.njk' import dateInput as dateInput with context -%}
{%- from 'macros/ul-checkmark.njk' import checkmarkList as checkmarkList with context -%}
{%- from 'macros/signaturePad.njk' import signaturePad as signaturePad with context -%}

<!DOCTYPE html>
<html lang="{{ getLocale() }}">
    <head>
        <!-- Required meta tags-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="[ALPHA] Node Starter App">
        <meta name="github-sha" content="{{ GITHUB_SHA }}">
        <meta name="csrf-token" content="{{ _csrf }}">
        <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" sizes="32x32">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
        <link href="https://fonts.googleapis.com/css?family=Lato:700|Noto+Sans:400,700&amp;display=fallback" rel="stylesheet">
        <link rel="stylesheet" href="/build/assets/styles/app.css">
        <title>{{ __('app.title') }}</title>
    </head>
    <body>
        <a class="skip-link" href="#content">{{ __('Skip to main content') }}</a>
        <div class="outer-container">
            <header>
                {% include "_includes/phaseBanner.njk" %}
                {% include "_includes/fip.njk" %}
            </header>
            <main id="content">
                {% if error %}
                    <div class="error-list md:ml-12 text-lg flex flex-row mb-8 md:pl-2" role="alert">
                        <div>
                            <svg class="h-8 w-8 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M19.511 17.98L10.604 1.348a.697.697 0 0 0-1.208 0L.49 17.98a.675.675 0 0 0 .005.68c.125.211.352.34.598.34h17.814a.694.694 0 0 0 .598-.34.677.677 0 0 0 .006-.68zM11 17H9v-2h2v2zm0-3.5H9V7h2v6.5z"></svg>
                        </div>
                        <div class="md:pl-2">
                            <span class="error-list__link" href="#">{{ __(error) }}</a>
                        </div>
                    </div>
                {% endif %}
                {% if errors %}
                    {% include "_includes/errorList.njk" %}
                {% endif %}

                    {% block content %}{% endblock %}
            </main>
            {% include "_includes/footer.njk" %}
        </div>
    </body>
    {% include "_includes/script.njk" %}

    <script type="text/javascript" src="/build/assets/js/app.js"></script>

    {% block scripts %}{% endblock %}
</html>
