{% extends "layouts/layout.njk" %}

{% block scripts %}
    <script type="text/javascript" src="/build/assets/js/confirmAction.js"></script>
{% endblock %}

{% block content %}
  <h1>{{ __('Users') }}
    <div class="text-right inline-block">
      <a href="{{ route('users.create') }}" data-cy="create-user" class="text-sm">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 inline-block" viewBox="0 0 20 20"><path d="M10 1.6a8.4 8.4 0 1 0 0 16.8 8.4 8.4 0 0 0 0-16.8zm5 9.4h-4v4H9v-4H5V9h4V5h2v4h4v2z"/></svg>
        Create user
      </a>
    </div>
  </h1>
  <table data-cy="usersTable" class="w-full table-full">
    <thead class="border-solid border-b-2 text-left">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Admin</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr class="odd:bg-gray-300">
          <td class="py-2" data-cy="name">{{ user.name }}</td>
          <td class="py-2" data-cy="email">{{ user.email }}</td>
          <td class="py-2" data-cy="isAdmin">{{ user.isAdmin }}</td>
          <td data-cy="actions">
            <a href="{{ route('users.edit', { id: user.id }) }}" data-cy="edit">Edit</a>
            {% if user.id !== req.session.user.id %}
            | <form action="{{ route('users.delete', { id: user.id }) }}" method="POST" class="mt-0 inline">
              <input type="hidden" name="_csrf" value="{{ _csrf }}">
              <input type="hidden" name="_method" value="DELETE">
              <a role="button" data-cy="delete" onclick="confirmAction('{{ __('users.confirm_delete') }}', () => { this.parentNode.submit(this) } );">Delete</a>
            </form>
            {% endif %}
            <!-- | <a href="" data-cy="resetPassword">Reset password</a> -->
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
