<!DOCTYPE html>
<html>
    <head>
        <title>CPPD Medical Report</title>
        <link rel="stylesheet" type="text/css" href="styles/styles.css">
    </head>

    <body>
        <p>Layout Begin</p>
        {% block body %}{% endblock %}
        <p>Layout End</p>
    </body>
</html>