<!DOCTYPE html>
<html>
    <head>
        <title>CPPD Medical Report</title>
    </head>

    <body>
        <p>Layout Begin</p>
        {% block body %}{% endblock %}
        <p>Layout End</p>
    </body>
</html>