{% extends "layouts/layout.njk" %}

{% block content %}

    {{ backButton('dashboard') }}

    <h1>{{ __('declaration.title') }}<br/> <span class="text-base">{{ __('patient')}} {{ data.fullName }}</span></h1>

    <p>{{ __('declaration.review_and_confirm') }}</p>

    <details class="mt-8" open>
        <summary>
            <h2 class="mt-4 text-4xl inline cursor-pointer">{{ __('dashboard.basic_info') }}</h2>
            <div class="float-right">
                <a href="{{ route('relationship') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="inline-block h-4 w-4"><path d="M17.561 2.439c-1.442-1.443-2.525-1.227-2.525-1.227L8.984 7.264 2.21 14.037 1.2 18.799l4.763-1.01 6.774-6.771 6.052-6.052c-.001 0 .216-1.083-1.228-2.527zM5.68 17.217l-1.624.35a3.71 3.71 0 0 0-.69-.932 3.742 3.742 0 0 0-.932-.691l.35-1.623.47-.469s.883.018 1.881 1.016c.997.996 1.016 1.881 1.016 1.881l-.471.468z"/></svg>
                    {{ __('edit') }}
                </a>
            </div>
        </summary>
        <table class="table-fixed">
            <tbody class="bg-gray-100">
                <tr class="odd:bg-gray-300">
                    <th scope="row" class="w-1/3 text-left font-normal p-4 border-2 border-white align-top">{{ __('section3.form.relationship_started.desc', data.fullName) }}</th>
                    <td class="w-2/3 p-4 border-2 border-white align-top">{{ data.relationshipStarted }}</td>
                </tr>
                <tr class="odd:bg-gray-300">
                    <th scope="row" class="text-left font-normal p-4 border-2 border-white align-top">{{ __('section3.form.first_treatment_date.desc', data.fullName) }}</th>
                    <td class="p-4 border-2 border-white align-top">{{ data.firstTreatmentDate }}</td>
                </tr>
                <tr class="odd:bg-gray-300">
                    <th scope="row" class="text-left font-normal p-4 border-2 border-white align-top">{{ __('section3.form.visit_number.desc', data.fullName) }}</th>
                    <td class="p-4 border-2 border-white align-top">{{ data.visitNumber }}</td>
                </tr>
                <tr class="odd:bg-gray-300">
                    <th scope="row" class="text-left font-normal p-4 border-2 border-white align-top">{{ __('section3.form.last_visit_date.desc') }}</th>
                    <td class="p-4 border-2 border-white align-top">{{ data.lastVisitDate }}</td>
                </tr>
                <tr class="odd:bg-gray-300">
                    <th scope="row" class="text-left font-normal p-4 border-2 border-white align-top">{{ __('section3.form.stopWorking.desc', data.fullName) }}</th>
                    <td class="p-4 border-2 border-white align-top">{{ data.stopWorkingText }}</td>
                </tr>
            </tbody>
        </table>
    </details>

    <details class="mt-16" open>
        <summary>
            <h2 class="mt-4 text-4xl inline cursor-pointer">{{ __('dashboard.functional-limits') }}</h2>
            <div class="float-right">
                <a href="{{ route('functional') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="inline-block h-4 w-4"><path d="M17.561 2.439c-1.442-1.443-2.525-1.227-2.525-1.227L8.984 7.264 2.21 14.037 1.2 18.799l4.763-1.01 6.774-6.771 6.052-6.052c-.001 0 .216-1.083-1.228-2.527zM5.68 17.217l-1.624.35a3.71 3.71 0 0 0-.69-.932 3.742 3.742 0 0 0-.932-.691l.35-1.623.47-.469s.883.018 1.881 1.016c.997.996 1.016 1.881 1.016 1.881l-.471.468z"/></svg>
                    {{ __('edit') }}
                </a>
            </div>
        </summary>

        <table class="table-fixed">
            <tbody class="bg-gray-100">
                <tr class="odd:bg-gray-300">
                    <th scope="row" class="w-1/3 text-left font-normal p-4 border-2 border-white align-top">{{ __('functional.limitations', data.fullName) }}</th>
                    <td class="w-2/3 p-4 border-2 border-white align-top">{{ data.limitations }}</td>
                </tr>
                <tr class="odd:bg-gray-300">
                    <th scope="row" class="text-left font-normal p-4 border-2 border-white align-top">{{ __('functional.weight', data.fullName) }}</th>
                    <td class="p-4 border-2 border-white align-top">{{ data.weight }}</td>
                </tr>
                <tr class="odd:bg-gray-300">
                    <th scope="row" class="text-left font-normal p-4 border-2 border-white align-top">{{ __('functional.weight', data.fullName) }}</th>
                    <td class="p-4 border-2 border-white align-top">{{ data.height }}</td>
                </tr>
            </tbody>
        </table>
    </details>

    <details class="mt-16" open>
        <summary>
            <h2 class="mt-4 text-4xl inline cursor-pointer">{{ __('conditions.title') }}</h2>
            <div class="float-right">
                <a href="{{ route('conditions') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="inline-block h-4 w-4"><path d="M17.561 2.439c-1.442-1.443-2.525-1.227-2.525-1.227L8.984 7.264 2.21 14.037 1.2 18.799l4.763-1.01 6.774-6.771 6.052-6.052c-.001 0 .216-1.083-1.228-2.527zM5.68 17.217l-1.624.35a3.71 3.71 0 0 0-.69-.932 3.742 3.742 0 0 0-.932-.691l.35-1.623.47-.469s.883.018 1.881 1.016c.997.996 1.016 1.881 1.016 1.881l-.471.468z"/></svg>
                    {{ __('edit') }}
                </a>
            </div>
        </summary>

        {% for condition in data.Conditions %}
        <table class="table-fixed">
            <tbody class="bg-gray-100">
                <tr class="odd:bg-gray-300">
                    <th scope="row" class="w-1/3 text-left font-normal p-4 border-2 border-white align-top">
                        {% if loop.index === 1 %}
                            {{ __('add_condition.name_of_condition.first', data.fullName) }}
                        {% else %}
                            {{ __('add_condition.name_of_condition', data.fullName) }}
                        {% endif %}
                    </th>
                    <td class="w-2/3 p-4 border-2 border-white align-top">{{ condition.conditionName }}</td>
                </tr>
                <tr class="odd:bg-gray-300">
                    <th scope="row" class="text-left font-normal p-4 border-2 border-white align-top">{{ __('conditions.icd_code') }}</th>
                    <td class="p-4 border-2 border-white align-top">{{ condition.icdCode }}</td>
                </tr>
                <tr class="odd:bg-gray-300">
                    <th scope="row" class="text-left font-normal p-4 border-2 border-white align-top">{{ __('add_condition.symptoms_began') }}</th>
                    <td class="p-4 border-2 border-white align-top">{{ condition.symptomsBegan }}</td>
                </tr>
                <tr class="odd:bg-gray-300">
                    <th scope="row" class="text-left font-normal p-4 border-2 border-white align-top">{{ __('add_condition.clinically_impair') }}</th>
                    <td class="p-4 border-2 border-white align-top">{{ condition.clinicallyImpair }}</td>
                </tr>
                <tr class="odd:bg-gray-300">
                    <th scope="row" class="text-left font-normal p-4 border-2 border-white align-top">{{ __('declaration.condition_likely_to', data.fullName) }}</th>
                    <td class="p-4 border-2 border-white align-top">
                        {{ __(condition.conditionOutlookText) }}<br>
                        {{ condition.conditionOutlookUnknown }}
                    </td>
                </tr>
                <tr class="odd:bg-gray-300">
                    <th scope="row" class="text-left font-normal p-4 border-2 border-white align-top">{{ __('add_condition.symptoms_occur') }}</th>
                    <td class="p-4 border-2 border-white align-top">{{ __(condition.symptomsOccurText) }}</td>
                </tr>
                <tr class="odd:bg-gray-300">
                    <th scope="row" class="text-left font-normal p-4 border-2 border-white align-top">{{ __('documents.title') }}</th>
                    <td class="p-4 border-2 border-white align-top">
                        {% for document in condition.Documents %}
                            {{ document.originalFileName }}<br>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
        {% endfor %}
    </details>

    <details class="mt-16" open>
        <summary>
            <h2 class="mt-4 text-4xl inline cursor-pointer">{{ __('medication.title') }}</h2>
            <div class="float-right">
                <a href="{{ route('medications') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="inline-block h-4 w-4"><path d="M17.561 2.439c-1.442-1.443-2.525-1.227-2.525-1.227L8.984 7.264 2.21 14.037 1.2 18.799l4.763-1.01 6.774-6.771 6.052-6.052c-.001 0 .216-1.083-1.228-2.527zM5.68 17.217l-1.624.35a3.71 3.71 0 0 0-.69-.932 3.742 3.742 0 0 0-.932-.691l.35-1.623.47-.469s.883.018 1.881 1.016c.997.996 1.016 1.881 1.016 1.881l-.471.468z"/></svg>
                    {{ __('edit') }}
                </a>
            </div>
        </summary>

        {% for medication in data.Medications %}
        <table class="table-fixed">
            <tbody class="bg-gray-100">
                <tr class="odd:bg-gray-300">
                    <th scope="row" class="w-1/3 text-left font-normal p-4 border-2 border-white align-top">
                        {{ __('form.medication_name.desc') }}
                    </th>
                    <td class="w-2/3 p-4 border-2 border-white align-top">{{ medication.medicationName }}</td>
                </tr>
                <tr class="odd:bg-gray-300">
                    <th scope="row" class="w-1/3 text-left font-normal p-4 border-2 border-white align-top">
                        {{ __('form.medication_dosage.desc') }}
                    </th>
                    <td class="w-2/3 p-4 border-2 border-white align-top">{{ medication.medicationDosage }}</td>
                </tr>
                <tr class="odd:bg-gray-300">
                    <th scope="row" class="w-1/3 text-left font-normal p-4 border-2 border-white align-top">
                        {{ __('form.medication_frequency.desc') }}
                    </th>
                    <td class="w-2/3 p-4 border-2 border-white align-top">{{ medication.medicationFrequency }}</td>
                </tr>
                <tr class="odd:bg-gray-300">
                    <th scope="row" class="w-1/3 text-left font-normal p-4 border-2 border-white align-top">
                        {{ __('form.medication_start_date.text') }}
                    </th>
                    <td class="w-2/3 p-4 border-2 border-white align-top">{{ medication.medicationStartDate }}</td>
                </tr>
                <tr class="odd:bg-gray-300">
                    <th scope="row" class="w-1/3 text-left font-normal p-4 border-2 border-white align-top">
                        {{ __('form.medication_end_date.text') }}
                    </th>
                    <td class="w-2/3 p-4 border-2 border-white align-top">{{ medication.medicationEndDate }}</td>
                </tr>
                <tr class="odd:bg-gray-300">
                    <th scope="row" class="w-1/3 text-left font-normal p-4 border-2 border-white align-top">
                        {{ __('treatments.form.results.desc') }}
                    </th>
                    <td class="w-2/3 p-4 border-2 border-white align-top">{{ medication.medicationResults }}</td>
                </tr>
                <tr class="odd:bg-gray-300">
                    <th scope="row" class="w-1/3 text-left font-normal p-4 border-2 border-white align-top">
                        {{ __('form.medication_treated_conditions.question') }}
                    </th>
                    <td class="w-2/3 p-4 border-2 border-white align-top">
                        {% for condition in medication.Conditions %}
                            {{ condition.conditionName }}<br>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
        {% endfor %}
    </details>

    <details class="mt-16" open>
        <summary>
            <h2 class="mt-4 text-4xl inline cursor-pointer">{{ __('treatments.title') }}</h2>
            <div class="float-right">
                <a href="{{ route('treatments') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="inline-block h-4 w-4"><path d="M17.561 2.439c-1.442-1.443-2.525-1.227-2.525-1.227L8.984 7.264 2.21 14.037 1.2 18.799l4.763-1.01 6.774-6.771 6.052-6.052c-.001 0 .216-1.083-1.228-2.527zM5.68 17.217l-1.624.35a3.71 3.71 0 0 0-.69-.932 3.742 3.742 0 0 0-.932-.691l.35-1.623.47-.469s.883.018 1.881 1.016c.997.996 1.016 1.881 1.016 1.881l-.471.468z"/></svg>
                    {{ __('edit') }}
                </a>
            </div>
        </summary>

        {% for treatment in data.Treatments %}
        <table class="table-fixed">
            <tbody class="bg-gray-100">
                <tr class="odd:bg-gray-300">
                    <th scope="row" class="w-1/3 text-left font-normal p-4 border-2 border-white align-top">
                        {{ __('treatments.form.type.desc') }}
                    </th>
                    <td class="w-2/3 p-4 border-2 border-white align-top">{{ treatment.treatmentType }}</td>
                </tr>
                <tr class="odd:bg-gray-300">
                    <th scope="row" class="w-1/3 text-left font-normal p-4 border-2 border-white align-top">
                        {{ __('treatments.form.start_date.text') }}
                    </th>
                    <td class="w-2/3 p-4 border-2 border-white align-top">{{ treatment.treatmentStartDate }}</td>
                </tr>
                <tr class="odd:bg-gray-300">
                    <th scope="row" class="w-1/3 text-left font-normal p-4 border-2 border-white align-top">
                        {{ __('treatments.form.end_date.text') }}
                    </th>
                    <td class="w-2/3 p-4 border-2 border-white align-top">{{ treatment.treatmentEndDate }}</td>
                </tr>
                <tr class="odd:bg-gray-300">
                    <th scope="row" class="w-1/3 text-left font-normal p-4 border-2 border-white align-top">
                        {{ __('treatments.form.frequency.desc') }}
                    </th>
                    <td class="w-2/3 p-4 border-2 border-white align-top">{{ treatment.treatmentFrequency }}</td>
                </tr>
                <tr class="odd:bg-gray-300">
                    <th scope="row" class="w-1/3 text-left font-normal p-4 border-2 border-white align-top">
                        {{ __('treatments.form.results.desc') }}
                    </th>
                    <td class="w-2/3 p-4 border-2 border-white align-top">{{ treatment.treatmentResults }}</td>
                </tr>
                <tr class="odd:bg-gray-300">
                    <th scope="row" class="w-1/3 text-left font-normal p-4 border-2 border-white align-top">
                        {{ __('treatments.form.treated_conditions.question') }}
                    </th>
                    <td class="w-2/3 p-4 border-2 border-white align-top">
                        {% for condition in treatment.Conditions %}
                            {{ condition.conditionName }}<br>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
        {% endfor %}
    </details>

    <details class="mt-16" open>
        <summary>
            <h2 class="mt-4 text-4xl inline cursor-pointer">{{ __('dashboard.future-work-capacity') }}</h2>
            <div class="float-right">
                <a href="{{ route('work') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="inline-block h-4 w-4"><path d="M17.561 2.439c-1.442-1.443-2.525-1.227-2.525-1.227L8.984 7.264 2.21 14.037 1.2 18.799l4.763-1.01 6.774-6.771 6.052-6.052c-.001 0 .216-1.083-1.228-2.527zM5.68 17.217l-1.624.35a3.71 3.71 0 0 0-.69-.932 3.742 3.742 0 0 0-.932-.691l.35-1.623.47-.469s.883.018 1.881 1.016c.997.996 1.016 1.881 1.016 1.881l-.471.468z"/></svg>
                    {{ __('edit') }}
                </a>
            </div>
        </summary>

        <table class="table-fixed">
            <tbody class="bg-gray-100">
                <tr class="odd:bg-gray-300">
                    <th scope="row" class="text-left font-normal p-4 border-2 border-white align-top">{{ __('functional.plannedTreatments', data.fullName) }}</th>
                    <td class="p-4 border-2 border-white align-top">{{ data.plannedTreatments }}</td>
                </tr>
                <tr class="odd:bg-gray-300">
                    <th scope="row" class="w-1/3 text-left font-normal p-4 border-2 border-white align-top">{{ __('section6.return_work_question', data.fullName) }}</th>
                    <td class="w-2/3 p-4 border-2 border-white align-top">
                        {{ data.returnToWorkText }}
                        {% if data.returnToWork === 1 %}
                            - {{ data.returnToWorkWhenText }}
                        {% endif %}
                    </td>
                </tr>
                {% if data.returnToWork === 1 %}
                    <tr class="odd:bg-gray-300">
                        <th scope="row" class="text-left font-normal p-4 border-2 border-white align-top">{{ __('section6.type_work_question', data.fullName) }}</th>
                        <td class="p-4 border-2 border-white align-top">
                            {{ data.typeOfWorkText }}<br>
                            {{ data.workDetails }}
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </details>

    <details class="mt-16" open>
        <summary>
            <h2 class="mt-4 text-4xl inline cursor-pointer">{{ __('section9.title') }}</h2>
            <div class="float-right">
                <a href="{{ route('practitioner') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="inline-block h-4 w-4"><path d="M17.561 2.439c-1.442-1.443-2.525-1.227-2.525-1.227L8.984 7.264 2.21 14.037 1.2 18.799l4.763-1.01 6.774-6.771 6.052-6.052c-.001 0 .216-1.083-1.228-2.527zM5.68 17.217l-1.624.35a3.71 3.71 0 0 0-.69-.932 3.742 3.742 0 0 0-.932-.691l.35-1.623.47-.469s.883.018 1.881 1.016c.997.996 1.016 1.881 1.016 1.881l-.471.468z"/></svg>
                    {{ __('edit') }}
                </a>
            </div>
        </summary>

        <table class="table-fixed">
            <tbody class="bg-gray-100">
                <tr class="odd:bg-gray-300">
                    <th scope="row" class="w-1/3 text-left font-normal p-4 border-2 border-white align-top">{{ __('declaration.you_are_a') }}</th>
                    <td class="w-2/3 p-4 border-2 border-white align-top">
                        {{ data.practitionerTypeText }}
                    </td>
                </tr>
                <tr class="odd:bg-gray-300">
                    <th scope="row" class="w-1/3 text-left font-normal p-4 border-2 border-white align-top">{{ __('Name') }}</th>
                    <td class="w-2/3 p-4 border-2 border-white align-top">
                        {{ data.practitionerFullName }}
                    </td>
                </tr>
                <tr class="odd:bg-gray-300">
                    <th scope="row" class="w-1/3 text-left font-normal p-4 border-2 border-white align-top">{{ __('Address') }}</th>
                    <td class="w-2/3 p-4 border-2 border-white align-top">
                        {{ data.practitionerAddress }}<br>
                        {{ data.practitionerCity }}, {{ data.practitionerProvince }}<br>
                        {{ data.practitionerPostal }}
                    </td>
                </tr>
                <tr class="odd:bg-gray-300">
                    <th scope="row" class="w-1/3 text-left font-normal p-4 border-2 border-white align-top">{{ __('Email') }}</th>
                    <td class="w-2/3 p-4 border-2 border-white align-top">
                        {{ data.practitionerEmail }}
                    </td>
                </tr>
                <tr class="odd:bg-gray-300">
                    <th scope="row" class="w-1/3 text-left font-normal p-4 border-2 border-white align-top">{{ __('phone_number') }}</th>
                    <td class="w-2/3 p-4 border-2 border-white align-top">
                        {{ data.practitionerPhone }}
                    </td>
                </tr>
            </tbody>
        </table>
    </details>

    <form action="{{ route('declaration.store') }}" method="post" class="w-full">
        <div class="mt-8 text-lg">
            <p class="font-bold">{{ __('declaration.i_confirm_that') }}</p>
        </div>

        {{ signaturePad() }}

        <div class="md:w-1/2">
            <button type="submit" class="bg-green-700">{{ __('declaration.submit_to_service_canada') }}</button>
        </div>
    </form>
{% endblock %}
