<div class="error-list md:ml-12 text-lg flex flex-row mb-8 md:pl-2" role="alert">
    <div>
        <svg class="h-8 w-8 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M19.511 17.98L10.604 1.348a.697.697 0 0 0-1.208 0L.49 17.98a.675.675 0 0 0 .005.68c.125.211.352.34.598.34h17.814a.694.694 0 0 0 .598-.34.677.677 0 0 0 .006-.68zM11 17H9v-2h2v2zm0-3.5H9V7h2v6.5z"></svg>
    </div>
    <div class="md:pl-2">
        <h3 class="error-list__header">{{ __('Please correct the errors on the page') }}</h3>
        <ol class="error-list__list" id="formErrors">
            {% for field, messages in errors %}
                {% for message in messages %}
                    <li class="error-list__list-item">
                        <a class="error-list__link" href="#{{ field }}">{{ __(message) }}</a>
                    </li>
                {% endfor %}
            {% endfor %}
        </ol>
    </div>
</div>