<div class="language-link print:hidden">
    {% if getLocale() != 'fr' %}
    <a href="{{ route(req.options.name, { lang: 'fr' }) }}" lang="fr">Français</a>
    {% endif %}
    {% if getLocale() != 'en' %}
    <a href="{{ route(req.options.name, { lang: 'en' }) }}" lang="en">English</a>
    {% endif %}
</div>