<div class="language-link">
    {% if getLocale() != 'fr' %}
    <a href="" lang="fr">Français</a>
    {% endif %}
    {% if getLocale() != 'en' %}
    <a href="" lang="en">English</a>
    {% endif %}
</div>