{% extends "layouts/layout.njk" %}

{% block content %}

    <h1>{{ __('confirmation.thank_you') }}</h1>

    <div>
        <p>{{ __('confirmation.thank_you_participating') }}</p>
    </div>

{% endblock %}
