{% extends "layouts/layout.njk" %}

{% block content %}

    <h1>{{ __('consent.title') }}</h1>

    <p>{{ __('consent.preamble') }}</p>

    <p class="font-bold">{{ __('consent.may_contact_preamble') }}</p>
    <ul>
        <li>{{ __('consent.practioners') }}</li>
        <li>{{ __('consent.facilities') }}</li>
        <li>{{ __('consent.government') }}</li>
        <li>{{ __('consent.compensation_boards') }}</li>
        <li>{{ __('consent.employers') }}</li>
        <li>{{ __('consent.insurers') }}</li>
    </ul>

    <form action="{{ route('consent.store') }}" method="post" class="w-full">
        <input type="hidden" name="_csrf" value="{{ _csrf }}">

        {{
            checkBoxes(
                'consentOptionalParties',
                {
                    'education': 'consent.education',
                    'accountant':'consent.accountant',
                    'financial': 'consent.financial',
                    'volunteer': 'consent.volunteer',
                    'employees': 'consent.employees'
                },
                data.consentOptionalParties if data.consentOptionalParties else [
                    'education',
                    'accountant',
                    'financial',
                    'volunteer',
                    'employees'
                ],
                'consent.optional_parties_preamble',
                errors,
                {}
            )
        }}

        <div class="border border-gray-600 border-solid bg-gray-100 p-8">
            {{ radioButtons(
                    'consent',
                    [
                        {'value': 'yes','text': 'consent.yes'},
                        {'value': 'no','text': 'consent.no'}
                    ],
                    data.consent,
                    'consent.question',
                    errors,
                    {
                        'safe': true
                    }
                )
            }}

        <div class="md:ml-12 text-lg flex flex-row mb-8">
            <div class="">
                <svg class="h-8 w-8 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M19.511 17.98L10.604 1.348a.697.697 0 0 0-1.208 0L.49 17.98a.675.675 0 0 0 .005.68c.125.211.352.34.598.34h17.814a.694.694 0 0 0 .598-.34.677.677 0 0 0 .006-.68zM11 17H9v-2h2v2zm0-3.5H9V7h2v6.5z"></svg>
            </div>
            <div class="md:pl-2">
                {{  __('consent.i_understand_intro') }}
                <ul class="pl-5">
                    <li>{{  __('consent.i_understand_1') }}</li>
                    <li>{{  __('consent.i_understand_2') }}</li>
                    <li>{{  __('consent.i_understand_3') }}</li>
                </ul>
            </div>
        </div>

            <br/>

            {{ signaturePad() }}
        </div>

        <p>{{ __('consent.valid_period') }}<a href="{{ __('consent.cancel_consent_link') }}">{{ __('consent.cancel_in_writing') }}</a></p>

        {{ formButtons('submit', '/en/start') }}
    </form>
{% endblock %}
