{% extends "layouts/layout.njk" %}

{% block scripts %}

<script type="text/javascript">

function checkConsent() {
  const consent = document.getElementsByName('consent');
  const noConsent = document.getElementById('noConsentMsg');

  noConsent.style.display = 'none';

  for (var i = 0, len = consent.length; i < len; i++) {
    if (consent[i].checked) {
      if (consent[i].value === 'no') {
        noConsent.style.display = 'block';
      }
    }
    consent[i].onclick = function () {
      if (this.checked && this.value === 'no') {
        noConsent.style.display = 'block';
      } else {
        noConsent.style.display = 'none';
      }
    };
  }
}

checkConsent();
</script>

{% endblock %}

{% block content %}

    <h1>{{ __('consent.title') }}</h1>

    <p>{{ __('consent.preamble') }}</p>

    <div class="font-bold">
        {{ __('consent.permission') | safe }}
    </div>

    <form action="{{ route('consent.store') }}" method="post" class="w-full">
        <input type="hidden" name="_csrf" value="{{ _csrf }}">

        {{ radioButtons(
                'consent',
                [
                    {'value': 'yes','text': 'consent.yes'},
                    {'value': 'no','text': 'consent.no'}
                ],
                data.consent,
                'consent.question',
                errors,
                {
                    'safe': true,
                    required: true
                }
            )
        }}

        <div class="border-red-800 border-l-4 bg-red-200 p-4" id="noConsentMsg" data-cy="noConsentMsg">
            <div class="flex flex-row">
                <div>
                    <svg class="h-8 w-8 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M19.511 17.98L10.604 1.348a.697.697 0 0 0-1.208 0L.49 17.98a.675.675 0 0 0 .005.68c.125.211.352.34.598.34h17.814a.694.694 0 0 0 .598-.34.677.677 0 0 0 .006-.68zM11 17H9v-2h2v2zm0-3.5H9V7h2v6.5z"></svg>
                </div>
                <div class="pl-4">
                    <p>{{ __('consent.i_understand_intro') }}</p>
                    <ul>
                        <li>{{ __('consent.i_understand_1') }}</li>
                        <li>{{ __('consent.i_understand_2') }}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="signatureBlock" class="border border-gray-600 border-solid bg-gray-100 p-8">
            {{ signaturePad() }}
        </div>

        <div class="w-full">
            <div class="w-1/3">
                <button type="submit">{{ __('submit') }}</button>
            </div>
        </div>
    </form>
{% endblock %}
