{% extends "layouts/layout.njk" %}

{% block scripts %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/build/assets/js/jSignature.js"></script>
    <script>
        var signaturePad = null;
        $(document).ready(function() {
            signaturePad = $("#applicant_signature_pad");
            signaturePad.jSignature({width: 600, height: 200});
        })
    </script>
{% endblock %}

{% block content %}

    <h1>{{ __('consent.title') }}</h1>

    <p>{{ __('consent.preamble') }}</p>
    
    <p class="font-bold">{{ __('consent.may_contact_preamble') }}</p>
    <ul>
        <li>{{ __('consent.practioners') }}</li>
        <li>{{ __('consent.facilities') }}</li>
        <li>{{ __('consent.government') }}</li>
        <li>{{ __('consent.compensation_boards') }}</li>
        <li>{{ __('consent.employers') }}</li>
        <li>{{ __('consent.insurers') }}</li>
    </ul>

    <form action="{{ route('consent.store') }}" method="post">
        <input type="hidden" name="_csrf" value="{{ _csrf }}">

        {{ 
            checkBoxes(
                'consent.optional_parties', 
                {
                    'education': 'consent.education', 
                    'accountant':'consent.accountant',
                    'financial': 'consent.financial',
                    'volunteer': 'consent.volunteer',
                    'employees': 'consent.employees'
                }, 
                [
                    'education', 
                    'accountant',
                    'financial',
                    'volunteer',
                    'employees'
                ], 
                'consent.optional_parties_preamble', 
                errors, 
                {}) 
        }}

        <div id="signature_draw" class="relative w-3-4 border-2 border-black">
            <div id="applicant_signature_clear" class="bottom-0 w-full text-right pr-4 pt-4 leading-none">
                <a onclick="signaturePad.jSignature('clear')" class="no-underline text-gray-500">Clear</a>
            </div>
            <div id="applicant_signature_pad" class="overflow-hidden"></div>
            <div id="applicant_signature_line" class="absolute bottom-0 p-4 pb-16 pointer-events-none w-full">
                <div class="border-b border-gray-500 text-gray-500">x</div>
            </div>
        </div>

        <div id="signature_type" class="hidden">
            {{ textInput('signature', 'section2.form.signature') }}
        </div>

        <p>{{ __('section2.consent_valid_period') }}</p>

        {{ formButtons() }}
    </form>

{% endblock %}
