{% macro sectionStatus(completed) %}
  {% if completed %}
    <span class="text-green-800">{{ __('dashboard.completed') }}</span>
  {% else %}
    <span class="text-gray-800">{{ __('dashboard.not-completed') }}</span>
  {% endif %}
{% endmacro %}

{% macro sectionRow(routeName, label, completed) %}
  <tr class="border-b">
    <td class="py-6"><a href="{{ route(routeName) }}" >{{ __(label) }}</a></td>
    <td class="text-right py-6">
      {{ sectionStatus(completed) }}
    </td>
  </tr>
{% endmacro %}

{% extends "layouts/layout.njk" %}

{% block content %}
  <h1>{{ __('dashboard.title') }}<br/> <span class="text-base">{{ __('dashboard.patient')}} {{ data.fullName }} </span></h1>

  <div class="w-full flex">
    <div class="w-9/12">
      <p>
        {{ __('dashboard.intro1' )}} {{ patientName(data) }} {{ __('dashboard.intro2')}}
      </p>
      <p>
        {{ __('dashboard.intro3' )}} {{ patientName(data) }} {{ __('dashboard.intro4') }}
      </p>

      <div class="border-l-4 border-solid border-blue-800 bg-blue-200 p-4 ">
        <p>{{ __('dashboard.pay') | safe }}</p>
      </div>

      <h2 class="mt-8">{{ __('dashboard.complete-sections') }}</h2>

      <table class="w-full">
        <thead>
          <tr>
            <th class="w-1/2 text-left" scope="col"></th>
            <th class="w-1/2" scope="col"><span class="sr-only">{{ __('status') }}</th>
          </tr>
        </thead>
        <tbody>
          {{ sectionRow('relationship', 'dashboard.basic_info', sectionsCompleted.personal) }}
          {{ sectionRow('functional','dashboard.functional-limits', sectionsCompleted.functional)}}
          {{ sectionRow('conditions','dashboard.medical-conditions', sectionsCompleted.conditions) }}
          {{ sectionRow('medications','dashboard.medications', sectionsCompleted.medications) }}
          {{ sectionRow('treatments','dashboard.treatments', sectionsCompleted.treatments) }}
          {{ sectionRow('work','dashboard.future-work-capacity', sectionsCompleted.futureWork) }}
          {{ sectionRow('documents','dashboard.supporting-docs', sectionsCompleted.supportingDocuments) }}
          {{ sectionRow('practitioner','dashboard.practitioner', sectionsCompleted.practitioner) }}
        </tbody>
      </table>

      
    </div>

    <div class="w-3/12">
      <div class="border-2 border-black p-5  my-2 lg:mt-0 lg:ml-5 ">
        <p>
        <svg class="h-4 w-4 inline fill-current mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M8.294 16.998c-.435 0-.847-.203-1.111-.553L3.61 11.724a1.392 1.392 0 0 1 .27-1.951 1.392 1.392 0 0 1 1.953.27l2.351 3.104 5.911-9.492a1.396 1.396 0 0 1 1.921-.445c.653.406.854 1.266.446 1.92L9.478 16.34a1.39 1.39 0 0 1-1.12.656c-.022.002-.042.002-.064.002z"/>
          </svg>
          {{ data.fullName }} {{ __('dashboard.consent')}}
          <br/>
          <a href="{{ route('consent.show') }}" data-cy="view-consent-link">{{__('dashboard.view_download_consent')}}</a>
        </p>
      </div>
    </div>
  </div>

  <form action="{{ route('dashboard.ready') }}" method="post" class="mt-0">
    <div class="buttons">
      <div class="buttons--left">
        <a href="about/blank" class="button-link">{{ __('dashboard.save-and-return') }}</a>
      </div>
      <div class="buttons--right">
        {% if ableToSubmit %}
          <button type="submit" >{{ __('dashboard.submit') }}</button>
        {% else %}
          <button type="submit" disabled aria-disabled="true" class="text-black bg-gray-300 shadow-none hover:bg-gray-400 cursor-not-allowed" >{{ __('dashboard.submit') }}</button>
        {% endif %}
      </div>
    </div>
  </form>
  <p class="mt-12">
    {{ __("dashboard.privacy") | safe}}
  </p>

{% endblock %}
