{% extends "layouts/layout.njk" %}

{% block content %}

    {{ backButton('dashboard') }}
    
    <h1>{{ __('documents.title') }}<br/> <span class="text-base">{{ __('patient')}} {{ patientName(data) }}</span></h1>

    <div>
        <p>
            {{ __('documents.intro') }}
        </p>
        <p class="text-gray-600">{{ __('documents.sub') }}</p>

        <form enctype="multipart/form-data" method="post">
            <input type="hidden" name="_csrf" value="{{ _csrf }}">
            
            <div id="app">
                <supporting-documents upload-label="{{ __('Upload') }}" remove-label="{{ __('documents.delete') }}" attach-later-label="{{ __('add_condition.attach_later') }}" next-button-label="{{ __('documents.next_button') }}"></file-upload>
            </div>
        </form>
    </div>
{% endblock %}