{% extends "layouts/layout.njk" %}

{% block content %}

    <h1>{{ __('section6.title') }}</h1>

    <div>
        <p>
            {{ __('section6.instructions') }}
        </p>

        <form method="post">
            <input type="hidden" name="_csrf" value="{{ _csrf }}">

            {{ radioButtons('stopWork', { '1':'Yes','2':'No','3':'section6.stop_work_not_discussed'}, data.stopWork, 'section6.stop_work_question', errors) }}

            {{ textInput('dateStoppedWork', 'section6.stop_work_recommended', { hint: 'year_month_date_format', required: true }) }}

            {{ radioButtons('returnToWork', { '1':'section6.return_work_yes','2':'section6.return_work_no','3':'section6.return_work_unknown'}, data.returnToWork, 'section6.return_work_question', errors) }}

            {{ radioButtons('returnToWorkTimeframe', { '1':'section6.return_work_6_to_12_months','2':'section6.return_work_12_to_24_months','3':'section6.return_work_more_than_24_months','4':'Unknown'}, data.returnToWorkTimeframe, 'section6.return_work_timeframe_question', errors) }}

            {{ radioButtons('typeOfWork', { '1':'section6.type_work_usual','2':'section6.type_work_modified','3':'section6.type_work_training','4':'section6.type_work_other'}, data.typeOfWork, 'section6.type_work_question', errors) }}

            {{ textInput('typeOfWorkOther', 'section6.type_work_question') }}

            {{ formButtons() }}
        </form>
    </div>

{% endblock %}
