{% extends "layouts/layout.njk" %}

{% block content %}

    {{ backButton('dashboard') }}
    
    <h1>{{ __('section4.title') }}</h1>

    <p>{{ __('section4.instructions_1') | safe }}</p>

    <p>{{ __('section4.instructions_2') | safe }}

    <form method="post">
        <div class="{{ 'has-error' if errors and errors['conditionType'] }}">
            <fieldset class="fieldset">
                <legend class="fieldset__legend">
                    <span aria-hidden="true" class="required">*</span>

                    {{ __('section4.question') }}

                    <span class="required">{{ __("required")}}</span>
                </legend>

                <input type="hidden" name="_csrf" value="{{ _csrf }}">
        
                <div class="multiple-choice multiple-choice--radios">
                    {% if errors and errors['conditionType'] %}
                            {{ validationMessage(errors['conditionType'].msg, key) }}
                        {% endif %}
                    <div class="multiple-choice__item">
                        <input id="conditionType_terminal" type="radio" name="conditionType" value="terminal" {% if data.conditionType == 'terminal' %} checked="checked" {% endif %} {% if errors and errors['conditionType'] %} aria-describedby="conditionType-error" aria-invalid="true" {% endif %}> <label for="conditionType_terminal">{{ __('section4.yes_terminal') | safe }}</label>
                    </div>
                </div>

                <div class="indent-block">
                    {{ textArea('diagnosis', 'section4.diagnosis') }}

                    {{ textInput('icdCode', 'ICD-9-CM_code', { hint: 'ICD-9-CM_format' }) }}

                    {{ textInput('onsetDate', 'section4.onset_date', { hint: 'year_month' }) }}

                    <p>{{ __('section4.terminal_instructions') | safe }}
                </div>

                <div class="multiple-choice multiple-choice--radios">
                    <div class="multiple-choice__item">
                        <input id="conditionType_grave" type="radio" name="conditionType" value="grave" {% if data.conditionType == 'grave' %} checked="checked" {% endif %} {% if errors and errors['conditionType'] %} aria-describedby="conditionType-error" aria-invalid="true" {% endif %}> <label for="conditionType_grave">{{ __('section4.yes_grave') | safe }}</label>
                    </div>
                </div>

                <div class="multiple-choice multiple-choice--radios">
                    <div class="multiple-choice__item">
                        <input id="conditionType_none" type="radio" name="conditionType" value="none" {% if data.conditionType == 'none' %} checked="checked" {% endif %} {% if errors and errors['conditionType'] %} aria-describedby="conditionType-error" aria-invalid="true" {% endif %}> <label for="conditionType_none">{{ __('section4.neither_terminal_or_grave') }}</label>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="w-full">
            <div class="w-1/3">
                <button type="submit">{{ __('return_to_dashboard') }}</button>
            </div>
        </div>
    </form>
{% endblock %}
