{% extends "layouts/layout.njk" %}

{% block content %}
    <h1>{{ __('Login') }}</h1>

<div class="flex justify-center"> 
    <div class="w-full max-w-sm">
        <form action="{{ route('login.post') }}" method="POST">
            <input type="hidden" name="_csrf" value="{{ _csrf }}">

            <label for="username">Email</label>
            <input type="text" name="email" id="username" autofocus="true">

            <label for="password">Password</label>
            <input type="password" name="password" id="password">

            <button type="submit">
                Login!
            </button>
        </form>
    </div>
</div>

{% endblock %}