{% extends "layouts/layout.njk" %}

{% block content %}
    <h1>{{ __('Login') }}</h1>

<div class="flex justify-center"> 
    <div class="w-full max-w-sm">
        <form action="{{ route('login.post') }}" method="POST">
            <input type="hidden" name="_csrf" value="{{ _csrf }}">

            {{ textInput('email', 'Email', { required: true, class: 'w-full' }) }}

            {{ textInput('password', 'Password', { required: true, type: 'password', class: 'w-full' }) }}

            <button type="submit">
                Login
            </button>
        </form>
    </div>
</div>

{% endblock %}