{% extends "layouts/layout.njk" %}

{% block content %}
    <h1>{{ __('personal.title') }}</h1>
    
    <form action="{{ route('personal.store') }}" method="post">        
        {{ textInput('socialInsuranceNumber', 'section1.sin', { class: "w-3-4", required: true }) }}
        
        {{ textInput('firstName', 'section1.first_name', { required: true }) }}
        {{ textInput('middleName', 'section1.middle_name') }}
        {{ textInput('lastName', 'section1.last_names', { required: true }) }}
        {{ textInput('birthLastName', 'section1.birth_last_name') }}

        {{ dateInput('birthdate', data.birthdate, __('section1.birthdate'), { required: true }) }}

        {{ textInput('address', 'section1.mailing_address', { required: true }) }}
        {{ textInput('city', 'section1.city', { required: true }) }}
        {{ textInput('province', 'section1.province', { required: true }) }}
        {{ textInput('country', 'section1.country', { required: true }) }}
        {{ textInput('postal', 'section1.postal', { required: true }) }}
        {{ textInput('email', 'section1.email', { hint: 'section1.email.hint' }) }}

        {{ textInput('telephone', 'section1.telephone', { hint: 'telephone_format', required: true }) }}
        {{ textInput('alternateTelephone', 'section1.alternate_telephone', { hint: 'telephone_format' }) }}

        <div class="w-full">
            <div class="w-1/3">
                <button type="submit">{{ __('Continue') }}</button>
            </div>
        </div>
    </form>
{% endblock %}