{% extends "layouts/layout.njk" %}

{% block scripts %}
    <script type="text/javascript" src="/build/assets/js/declaration.js"></script>
{% endblock %}

{% block content %}

    {{ backButton('dashboard') }}

    <h1>{{ __('section9.title') }}</h1>

    <form method="post">
        <input type="hidden" name="_csrf" value="{{ _csrf }}">
        {{ radioButtons(
          'practitionerType',
          [
            {'value': '1', 'text':'section9.confirm_statement_ccfp'},
            {'value': '2', 'text' :'section9.confirm_statement_np'},
            {'value': '3', 'text' :'section9.confirm_statement_rn'},
            {'value': '4', 'text' :'section9.confirm_statement_other'}
          ],
          data.practitionerType,
          'section9.confirm_statement_2',
          errors,
          { required: true }
        )}}

        <div id="otherPractitionerType" class="ml-12">
            {{ textArea('practitionerTypeOtherSpecify', 'section9.other_specify')}}
        </div>

        {{ textInput('practitionerFirstName', 'section9.first_name', { required: true }) }}
        {{ textInput('practitionerLastName', 'section9.last_name', { required: true }) }}

        {{ textInput('practitionerAddress', 'section9.street_and_number', { required: true}) }}

        {{ textInput('practitionerCity', 'section9.city', { required: true}) }}

        {{ textInput('practitionerProvince', 'section9.province_territory', { required: true}) }}

        {{ textInput('practitionerCountry', 'section9.country', { required: true}) }}

        {{ textInput('practitionerPostal', 'section9.postal', { required: true}) }}

        {{ textInput('practitionerEmail', 'section9.email') }}

        {{ textInput('practitionerPhone', 'section9.phone', { required: true}) }}

        <div class="w-full">
            <div class="w-1/3">
                <button type="submit">{{ __('Save') }}</button>
            </div>
        </div>
    </form>

{% endblock %}
