{% extends "layouts/layout.njk" %}

{% block scripts %}
    <script type="text/javascript" src="/build/assets/js/relationship.js"></script>
{% endblock %}

{% block content %}

    {{ backButton('dashboard') }}
    
    <h1>{{ __('section3.title') }}</h1>

    <div>
        <form method="post">

            <input type="hidden" name="_csrf" value="{{ _csrf }}">

            {{ textInput('relationshipStarted', __('section3.form.relationship_started.desc', patientName(data)), { required: true, hint: 'For example: Feb 2008' }) }}

            {{ textInput('firstTreatmentDate', __('section3.form.first_treatment_date.desc', patientName(data)), { hint: 'For example: Feb 3, 2016', required: true }) }}

            {{ textInput('visitNumber', __('section3.form.visit_number.desc', patientName(data)), { required: true }) }}

            {{ textInput('lastVisitDate', 'section3.form.last_visit_date.desc', { hint: 'For example: Nov 15, 2019', required: true }) }}

            {{
                radioButtons('stopWorking',
                    {
                        '1': 'Yes',
                        '2': 'No',
                        '3': 'Did not discuss'
                    },
                data.stopWorking,
                __('section3.form.stopWorking.desc', patientName(data)),
                errors,
                { required: true })
            }}

          <div id="no_working_details">
            {{ textInput('stopWorkingWhen', 'section3.form.stop_working_when.desc', { required: true }) }}
          </div>

            {{ formButtons() }}
        </form>
    </div>

{% endblock %}
