{% extends "layouts/layout.njk" %}

{% block content %}
  <h1>Sessions</h1>

  <ul>
    {% for file in files %}
      <li>{{ file }} <a href="{{ route('sessions.download', { session: file }) }}">Download</a> | <a href="{{ route('sessions.view', { session: file }) }}">View</a></li>
    {% endfor %}
  </ul>

{% endblock %}