{% extends "layouts/layout.njk" %}

{% block content %}

    <h1>{{ data.firstName }} {{ data.lastName }}{{ __('show_consent.title') }}</h1>
 
    {% if data.consent %}
        <p>{{ data.firstName }} {{ data.lastName }} ({{ data.socialInsuranceNumber }}) {{ __('show_consent.intro') }}</p>

        <ul class="list-none">
            {{ checkmarkListItem( 'consent.practioners',  true )}}
            {{ checkmarkListItem( 'consent.facilities',  true )}}
            {{ checkmarkListItem( 'consent.government',  true )}}
            {{ checkmarkListItem( 'consent.compensation_boards',  true )}}
            {{ checkmarkListItem( 'consent.employers',  true )}}
            {{ checkmarkListItem( 'consent.insurers',  true )}}
            {# Things that are sometimes not selected #}
            {{ checkmarkListItem( 'consent.education',  data.consentEducation )}}
            {{ checkmarkListItem( 'consent.accountant',  data.consentAccountant )}}
            {{ checkmarkListItem( 'consent.financial',  data.consentFinancial )}}
            {{ checkmarkListItem( 'consent.volunteer',  data.consentVolunteer )}}
            {{ checkmarkListItem( 'consent.employees',  data.consentEmployees )}}
        </ul>

    {% else %}
         <p>{{ data.firstName }} {{ data.lastName }} ({{ data.socialInsuranceNumber }}) {{ __('show_consent.no_consent_intro') | safe }}</p>    
    {% endif %}

    <p>{{ data.firstName }} {{ data.lastName }}{{ __('show_consent.signature_intro') }}</p>
    {% if data.signatureMode === 'draw' %}
        {{ data.signatureDraw | safe }}
    {% else %}
        <span class="signature">{{ data.signatureType }}</span>
    {% endif %}

    <!-- TODO -->
    <p><em>TODO Implement submission date stamping and formatted</em></p>

{% endblock %}
