{% extends "layouts/layout.njk" %}

{% block content %}

    <h1>{{ data.firstName }} {{ data.lastName }}{{ __('show_consent.title') }}</h1>
 
    {% if data.consent %}
        <p>{{ data.firstName }} {{ data.lastName }} ({{ data.socialInsuranceNumber }}) {{ __('show_consent.intro') }}</p>

        <ul class="list-none">
            {{ checkmarkListItem( 'consent.practioners',  true, '', 'h-5 w-5')}}
            {{ checkmarkListItem( 'consent.facilities',  true, '', 'h-5 w-5')}}
            {{ checkmarkListItem( 'consent.government',  true, '', 'h-5 w-5')}}
            {{ checkmarkListItem( 'consent.compensation_boards',  true, '', 'h-5 w-5')}}
            {{ checkmarkListItem( 'consent.employers',  true, '', 'h-5 w-5')}}
            {{ checkmarkListItem( 'consent.insurers',  true, '', 'h-5 w-5')}}
            {# Things that are sometimes not selected #}
            {{ checkmarkListItem( 'consent.education',  data.consentEducation, '', 'h-5 w-5')}}
            {{ checkmarkListItem( 'consent.accountant',  data.consentAccountant, '', 'h-5 w-5')}}
            {{ checkmarkListItem( 'consent.financial',  data.consentFinancial, '', 'h-5 w-5')}}
            {{ checkmarkListItem( 'consent.volunteer',  data.consentVolunteer, '', 'h-5 w-5')}}
            {{ checkmarkListItem( 'consent.employees',  data.consentEmployees, '', 'h-5 w-5')}}
        </ul>

        <p>{{ data.firstName }} {{ data.lastName }}{{ __('show_consent.signature_intro') }}</p>
        {% if data.signatureMode === 'draw' %}
            {{ data.signatureDraw | safe }}
        {% else %}
            <span class="signature">{{ data.signatureType }}</span>
        {% endif %}
    {% else %}

    {% endif %}

{% endblock %}
