{% extends "layouts/layout.njk" %}

{% block content %}
    {%- from 'pages/treatments/treatment-form.njk' import treatmentForm with context -%}

    <h1>{{ __('treatments.title') }}<br/> <span class="text-base">{{ __('patient_type')}} {{ patientName(data) }}</span></h1>

    <div>
        <form method="post">
            <input type="hidden" name="_csrf" value="{{ _csrf }}">

            {{ treatmentForm(treatment) }}

            <div class="w-full flex">
                <div class="">
                    <button type="submit" name="save_and" value="add_another">{{ __('treatments.save_treatment') }}</button>
                </div>
                
                <div class="ml-4">
                    <button type="submit" name="save_and" value="continue">{{ __('treatments.save_and_return') }}</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}