{% macro treatmentForm(treatment) %}

    {{ textInput('treatmentType', 'treatments.form.type.desc', {required: true, hint: 'treatments.form.type.hint', "autocomplete": "off", value: treatment.treatmentType }) }}
    {{ textInput('treatmentFrequency', 'treatments.form.frequency.desc', {required: true, hint: 'treatments.form.frequency.hint', "autocomplete": "off", value: treatment.treatmentFrequency }) }}
    {{ textInput('treatmentStartDate', 'treatments.form.start_date.text', { required: true, hint: 'treatments.form.start_date.hint', "autocomplete": "off", value: treatment.treatmentStartDate })}}
    {{ textInput('treatmentEndDate', 'treatments.form.end_date.text', {required: true, hint: 'treatments.form.end_date.hint', "autocomplete": "off", value: treatment.treatmentEndDate })}}


    {% if oneValue %}
        {% set selectedValues = ["0"] %}
    {% else %}
        {% set selectedValues = treatment.treatmentTreatedCondition %}
    {% endif %}

    {{ rawCheckBoxes('treatmentTreatedCondition',
        conditionList,
        selectedValues, 
        'treatments.form.treated_conditions.question',{},
        {required: true}) 
    }}

    {{ textArea(
        'treatmentResults',
        'treatments.form.results.desc',
        { required: true, hint: 'treatments.form.results.hint', value: treatment.treatmentResults }
    ) }}

{% endmacro %}