{% macro treatmentForm(treatment) %}

    <div class="w-full flex flex-row">
        <div class="w-2/3">
            {{ textInput('treatmentType', 'treatments.form.type.desc', {required: true, "autocomplete": "off", value: treatment.treatmentType, class: 'w-full' }) }}
        </div>
        <div class="w-1/3 ml-6">
            {{ textInput('treatmentFrequency', 'treatments.form.frequency.desc', {required: true, "autocomplete": "off", value: treatment.treatmentFrequency, class: 'w-full' }) }}
        </div>
    </div>

    <div class="flex flex-row">
        <div class="w-1/2">
            {{ textInput('treatmentStartDate', 'treatments.form.start_date.text', { required: true, hint: 'treatments.form.start_date.hint', "autocomplete": "off", value: treatment.treatmentStartDate, class: 'w-full' })}}
        </div>
        <div class="w-1/2 ml-6">
            {{ textInput('treatmentEndDate', 'treatments.form.end_date.text', { hint: 'treatments.form.end_date.hint', "autocomplete": "off", value: treatment.treatmentEndDate, class: 'w-full' })}}
        </div>
    </div>

    {{ textArea(
        'treatmentResults',
        'treatments.form.results.desc',
        { required: true, hint: 'treatments.form.results.hint', value: treatment.treatmentResults }
    ) }}

    {{ rawCheckBoxes('Conditions',
        conditionList,
        treatment.selectedConditions,
        'treatments.form.treated_conditions.question',{},
        {required: true})
    }}

    <div id="addConditions">
        {% if not data.conditions.length %}
            <input type="text" name="newConditions[]">
        {% endif %}
        <div id="addedConditions" class="mb-4"></div>
        <a href="#" id="addCondition" class="mt-4">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="h-4 w-4 inline-block"><path d="M16 10c0 .553-.048 1-.601 1H11v4.399c0 .552-.447.601-1 .601-.553 0-1-.049-1-.601V11H4.601C4.049 11 4 10.553 4 10c0-.553.049-1 .601-1H9V4.601C9 4.048 9.447 4 10 4c.553 0 1 .048 1 .601V9h4.399c.553 0 .601.447.601 1z"/></svg>
            {{ __('form.medication_add.missing.condition') }}
        </a>
    </div>

{% endmacro %}
