{% extends "layouts/layout.njk" %}

{% block scripts %}
    <script type="text/javascript" src="/build/assets/js/conditionAdder.js"></script>
{% endblock %}

{% block content %}
    {%- from 'pages/medications/medication-form.njk' import medicationForm with context -%}

    <h1>{{ __('medication.title') }}<br/> <span class="text-base">{{ __('patient_name')}} {{ patientName(data) }}</span></h1>

    <div>

        <form method="post">
            <input type="hidden" name="_csrf" value="{{ _csrf }}">

            {{ medicationForm(data) }}

            <div class="w-full flex">
                <div class="">
                    <button type="submit" name="save_and" value="add_another">{{ __('medications.save_medication') }}</button>
                </div>
                
                <div class="ml-4">
                    <button type="submit" name="save_and" value="continue">{{ __('medications.save_and_return') }}</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}