{% macro medicationForm(medication) %}

{{ textInput('medicationName', 'form.medication_name.desc', {required: true, "autocomplete": "off", value: medication.medicationName }) }}
{{ textInput('medicationDosage', 'form.medication_dosage.desc', {required: true, "autocomplete": "off", value: medication.medicationDosage }) }}
{{ textInput('medicationFrequency', 'form.medication_frequency.desc', {required: true, hint: 'form.medication_frequency.hint', "autocomplete": "off", value: medication.medicationFrequency }) }}
{{ textInput('medicationStartDate', 'form.medication_start_date.text', { required: true, hint: 'form.medication_start_date.hint', "autocomplete": "off", value: medication.medicationStartDate })}}
{{ textInput('medicationEndDate', 'form.medication_end_date.text', {required: true, hint: 'form.medication_end_date.hint', "autocomplete": "off", value: medication.medicationEndDate })}}

{% if oneValue %}
    {% set selectedValues = ["0"] %}
{% else %}
    {% set selectedValues = medication.medicationTreatedCondition %}
{% endif %}

{{ rawCheckBoxes('medicationTreatedCondition', 
    conditionList,
    selectedValues, 
    'form.medication_treated_conditions.question',{},
    {required: true}) 
}}

<div id="addConditions">
    {% if not data.conditions.length %}
        <input type="text" name="newConditions[]">
    {% endif %}
    <div id="addedConditions" class="mb-4"></div>
    <a href="#" id="addCondition" class="mt-4">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="h-4 w-4 inline-block"><path d="M16 10c0 .553-.048 1-.601 1H11v4.399c0 .552-.447.601-1 .601-.553 0-1-.049-1-.601V11H4.601C4.049 11 4 10.553 4 10c0-.553.049-1 .601-1H9V4.601C9 4.048 9.447 4 10 4c.553 0 1 .048 1 .601V9h4.399c.553 0 .601.447.601 1z"/></svg>
        Add medical condition
    </a>
</div>

{{ textArea(
    'medicationResults',
    'form.medicaiton_results.desc',
    { required: true, hint: 'form.medication_results.hint', value: medication.medicationResults }
) }}

{% endmacro %}