{% macro medicationForm(medication) %}

{{ textInput('medicationName', 'form.medication_name.desc', {required: true, "autocomplete": "off", value: medication.medicationName }) }}
{{ textInput('medicationDosage', 'form.medication_dosage.desc', {required: true, "autocomplete": "off", value: medication.medicationDosage }) }}
{{ textInput('medicationFrequency', 'form.medication_frequency.desc', {required: true, hint: 'form.medication_frequency.hint', "autocomplete": "off", value: medication.medicationFrequency }) }}
{{ textInput('medicationStartDate', 'form.medication_start_date.text', { required: true, hint: 'form.medication_start_date.hint', "autocomplete": "off", value: medication.medicationStartDate })}}
{{ textInput('medicationEndDate', 'form.medication_end_date.text', {required: true, hint: 'form.medication_end_date.hint', "autocomplete": "off", value: medication.medicationEndDate })}}

{% if oneValue %}
    {% set selectedValues = ["0"] %}
{% else %}
    {% set selectedValues = medication.medicationTreatedDondition %}
{% endif %}
{{ rawCheckBoxes('medicationTreatedCondition', 
    conditionList,
    selectedValues, 
    'form.medication_treated_conditions.question',{},
    {required: true}) 
}}

{{ textArea(
    'medicationResults',
    'form.medicaiton_results.desc',
    { required: true, hint: 'form.medication_results.hint', value: medication.medicationResults }
) }}

{% endmacro %}