{#
  Date parts will be named [name]Year [name]Month [name]Day
  - `name`: field name
  - `label`: text for the label
  - `attributes`: object of optional attributes: class, hint, divClasses, autocomplete
#}
{% if errors %}
    {% set firstError = errors.keys()[0] %}
{% endif %}

{% macro dateInput(name, value, label, attributes) %}
    {% set monthName = name + 'Month' %}
    {% set dayName = name + 'Day' %}
    {% set yearName = name + 'Year' %}

    <div id="{{ name }}" class="{{ 'has-error' if errors and errors[name] }} {{ attributes.divClasses }}">
        <label for="{{ name }}" id="{{ name }}__label">
            {% if attributes.required %}
                <span aria-hidden="true" class="required">*</span>
            {% endif %}
            {{ label }}
            {% if attributes.required %}
                <span class="required">{{ __("required")}}</span>
            {% endif %}
        </label>
        {% if attributes.hint %}
            <span class="form-message">{{ attributes.hint }}</span>
        {% endif %}
        {% if errors %}
          {% if errors[name] %}
            {{ validationMessage(errors[name], name) }}
          {% endif %}
          {% if errors[monthName] %}
            {{ validationMessage(errors[monthName], monthName) }}
          {% endif %}
          {% if errors[dayName] %}
            {{ validationMessage(errors[dayName], dayName) }}
          {% endif %}
          {% if errors[yearName] %}
            {{ validationMessage(errors[yearName], yearName) }}
          {% endif %}
        {% endif %}
        <div class="flex">
          <div class="w-32">
            <input class="{{ attributes.class if attributes.class }}" autocomplete="bday-month" type="number" pattern="[0-9]*" min="1" max="12" id="{{ monthName }}" {% if errors and errors[name] %} aria-describedby="{{ name + '-error' }}" aria-invalid="true" {% endif %} {% if errors and firstError === monthName or firstError === name %} autofocus="true" {% endif %} name="{{ monthName }}" value="{{ value | datePart('MM') if value }}"/>
            <label for="{{ monthName }}" class="text-gray-700">{{ __('Month') }}</label>
          </div>
          <div class="w-32 ml-4">
            <input class="{{ attributes.class if attributes.class }}" autocomplete="bday-day" type="number" pattern="[0-9]*" min="1" max="31" id="{{ dayName }}" {% if errors and errors[name] %} aria-describedby="{{ name + '-error' }}" aria-invalid="true" {% endif %} {% if errors and firstError === dayName %} autofocus="true" {% endif %} name="{{ dayName }}" value="{{ value | datePart('DD') if value }}"/>
            <label for="{{ dayName }}" class="text-gray-700">{{ __('Day') }}</label>
          </div>
          <div class="w-32 ml-4">
            <input class="{{ attributes.class if attributes.class }}" autocomplete="bday-year" type="number" pattern="[0-9]*" min="1" id="{{ yearName }}" {% if errors and errors[name] %} aria-describedby="{{ name + '-error' }}" aria-invalid="true" {% endif %} {% if errors and firstError === yearName %} autofocus="true" {% endif %} name="{{ yearName }}" value="{{ value | datePart('YYYY') if value }}"/>
            <label for="{{ yearName }}" class="text-gray-700">{{ __('Year') }}</label>
          </div>
        </div>
    </div>
{% endmacro %}
