{% macro medicalConsent(id, items, selectedValue, question, errors, attributes) %}
    <div class="{{ 'has-error' if errors and errors[id] }}">
        <fieldset class="fieldset">
            <legend class="noto-sans">
            {% if attributes.required %}
                <span aria-hidden="true" class="required">*</span>
            {% endif %}
            {{ __(question) | safe }}
            {% if attributes.required %}
                <span class="required">{{ __("required")}}</span>
            {% endif %}
            </legend>
            {% if attributes.hint %}
                <span class="form-message">{{ __(attributes.hint) }}</span>
            {% endif %}
            <div class="multiple-choice multiple-choice--radios" id="{{ id }}">
                {% if errors and errors[id] %}
                    {{ validationMessage(errors[id].msg, id) }}
                {% endif %}
                {% for  item in values %}
                {% set itemId %} {{ id }}{{ item.value }} {%endset%}
                    <div class="multiple-choice__item">
                        <input
                          id="{{ itemId }}"
                            name="{{ id }}"
                            type="radio"
                            value="{{ item.value}}"
                            {% if selectedValue == loop.index %}
                                checked="checked"
                            {% endif %}
                            {% if errors and errors[id] %}
                                aria-describedby="{{ id + '-error' }}"
                                aria-invalid="true"
                            {% endif %}>
                        <label for="{{ itemId }}">{{ __(item.text) }}</label>
                    </div>
                {% endfor %}
            </div>
        </fieldset>
    </div>
{% endmacro %}
