{% macro radioButtons(id, values, selectedValue, question, errors, attributes) %}
    <div class="{{ 'has-error' if errors and errors[id] }}">
        <fieldset class="fieldset">
            <legend class="fieldset__legend">
            {% if attributes.required %}
                <span aria-hidden="true" class="required">*</span>
            {% endif %}
            {{ __(question) }}
            {% if attributes.required %}
                <span class="required">{{ __("required")}}</span>
            {% endif %}
            </legend>
            {% if attributes.hint %}
                <span class="form-message">{{ __(attributes.hint) }}</span>
            {% endif %}
            <div class="multiple-choice multiple-choice--radios" id="{{ id }}">
                {% if errors and errors[id] %}
                    {{ validationMessage(errors[id], id) }}
                {% endif %}
                {% for index, val in values %}
                    <div class="multiple-choice__item">
                        <input
                          id="{{ id }}{{ val }}"
                              name="{{ id }}"
                              type="radio"
                              value="{{ index }}"
                              {% if selectedValue == index %} checked="checked" {% endif %}
                              {% if errors and errors[id] %}
                                aria-describedby="{{ id + '-error' }}"
                                aria-invalid="true"
                              {% endif %}>
                        <label for="{{ id }}{{ val }}">{{ __(val) }}</label>
                    </div>
                {% endfor %}
            </div>
        </fieldset>
    </div>
{% endmacro %}
