{% macro validationMessage(errors, id) %}
    <span class="validation-message" id="{{ id }}-error" role="alert">
        {% for msg in errors %}
            <span class="visually-hidden">{{ __('Error:') }}</span>
            {{ __(msg) }}
            {% if errors.length > 1 %}<br>{% endif %}
        {% endfor %}
    </span>
{% endmacro %}