{% extends "layouts/layout.njk" %}

{% block content %}
    {%- from 'pages/conditions/condition-form.njk' import conditionForm with context -%}
    
    <h1>{{ __('conditions.title') }}<br/> <span class="text-base">{{ __('conditions.patient')}} {{ patientName(data) }}</span></h1>

    <div>
        <p>
            {{ __('conditions.intro') }}
        </p>

        <condition-form :url="'{{ route('conditions.store') }}'" :csrf="'{{ _csrf }}'" :condition="{{ data | dump }}" :schema="{{ schema | dump }}"></condition-form>

    </div>
{% endblock %}